@tailwind base;
/* purgecss start ignore */
/*

============================================================================
                    ADD YOUR OWN BASE STYLES BELOW
============================================================================

*/

body {
    @apply transition-colors duration-500 bg-myBlack text-myWhite;
}

/*

========================================
THEME SWITCHER
========================================

*/

body.light-mode {
    @apply bg-myWhite text-myBlack;
}

body.light-mode span.hash{
    @apply text-myPink;
}

.svg {
    @apply fill-current text-myWhite;
}

.svg.moon {
    @apply hidden;
}

body.light-mode .svg.sun {
    @apply hidden;
}

body.light-mode .svg.moon {
    @apply block fill-current text-myBlack;
}

body.light-mode .high-contrast-grey {
    @apply text-gray-800;
}

/*

========================================
MARKDOWN STYLING
========================================

*/

.markdown h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mb-0 font-bold leading-tight;
}

.markdown h1 {
    @apply mb-4 text-6xl;
}

.markdown h2 {
    @apply mt-6 text-4xl;
}

.markdown h3 {
    @apply text-2xl;
}

.markdown h4 {
    @apply text-xl;
}

.markdown h5 {
    @apply text-lg;
}

.markdown h6 {
    @apply text-lg;
}

.markdown p,
ul,
ol {
    @apply mt-5 text-xl leading-loose;
}

.markdown ol,
ul {
    @apply pl-8;
}

.markdown li {
    @apply mt-4;
}

.markdown li p {
    @apply mt-2 mb-2;
}

.markdown blockquote p {
    @apply pl-8 -ml-4 -mr-4 font-serif text-xl italic leading-loose border-l border-myBlue;
}

@screen lg {
  .markdown blockquote p {
    @apply text-2xl;
  }
}

.markdown img {
    @apply max-w-full;
}

/*

========================================
CODE WRAP
========================================

*/

.code-wrapper{
    @apply px-5 pt-4 pb-6 overflow-hidden font-mono text-sm subpixel-antialiased leading-normal text-gray-100 bg-black rounded-lg shadow-lg;
}

.code-inner{
    @apply flex mb-2 top;
}

.mac-window-red{
    @apply w-3 h-3 rounded-full bg-macRed;
}

.mac-window-yellow{
    @apply w-3 h-3 bg-macYellow rounded-full
}

.mac-window-green{
    @apply w-3 h-3 bg-macGreen rounded-full
}

/*

========================================
CODE FORMATTING
========================================

*/

code[class*="language-"],
pre[class*="language-"] {
	color: white;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	text-shadow: 0 -.1em .2em black;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: hsl(0, 0%, 0%);
}

/* Code blocks */
pre[class*="language-"] {
	border-radius: .5em;
	margin-top:1.5em;
	
	overflow: auto;
	
}

pre[class*="language-"]::-moz-selection {
	/* Firefox */
	background: hsl(200, 4%, 16%); /* #282A2B */
}

pre[class*="language-"]::selection {
	/* Safari */
	background: hsl(200, 4%, 16%); /* #282A2B */
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	border-radius: .3em;
	border: .13em solid hsl(0, 0%, 33%); /* #545454 */
	box-shadow: 1px 1px .3em -.1em black inset;
	padding: .15em .2em .05em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsl(0, 0%, 47%); /* #777777 */
}

.token.punctuation {
	opacity: .7;
}

.token.namespace {
	opacity: .7;
}

.token.tag,
.token.boolean,
.token.number,
.token.deleted {
	color: hsl(14, 58%, 55%); /* #CF6A4C */
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
	color: hsl(53, 89%, 79%); /* #F9EE98 */
}

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
	color: hsl(76, 21%, 52%); /* #8F9D6A */
}

.token.atrule {
	color: hsl(218, 22%, 55%); /* #7587A6 */
}

.token.regex,
.token.important {
	color: hsl(42, 75%, 65%); /* #E9C062 */
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre[data-line] {
	padding: 1em 0 1em 3em;
	position: relative;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
	color: hsl(33, 33%, 52%); /* #AC885B */
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
	position: relative;
	z-index: 1;
}

.line-highlight {
	background: hsla(0, 0%, 33%, 0.25); /* #545454 */
	background: linear-gradient(to right, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
	border-bottom: 1px dashed hsl(0, 0%, 33%); /* #545454 */
	border-top: 1px dashed hsl(0, 0%, 33%); /* #545454 */
	left: 0;
	line-height: inherit;
	margin-top: 0.75em; /* Same as .prism’s padding-top */
	padding: inherit 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	white-space: pre;
	z-index: 0;
}

.line-highlight:before,
.line-highlight[data-end]:after {
	background-color: hsl(215, 15%, 59%); /* #8794A6 */
	border-radius: 999px;
	box-shadow: 0 1px white;
	color: hsl(24, 20%, 95%); /* #F5F2F0 */
	content: attr(data-start);
	font: bold 65%/1.5 sans-serif;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: .4em;
	vertical-align: .3em;
}

.line-highlight[data-end]:after {
	bottom: .4em;
	content: attr(data-end);
	top: auto;
}
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

/*

============================================================================
                    ADD YOUR OWN UTILITIES BELOW
============================================================================

*/